.twitter-typeahead {
	width: 100%;
	input {
		width: 100%;
	}

	.tt-input, .tt-hint {
		padding: 15px;
		font-size: 30px;
		border: 0;
		border-bottom: 1px solid #333;
	}
	.tt-hint {
		color: #ccc;
	}
	.tt-input:focus, .tt-hint:focus {
		outline: 0;
	}
	.tt-dropdown-menu {
		font-size: 22px;
		background-color: #fff;
		width: 100%;
		text-align: center;
	
		.tt-suggestion {
			cursor: pointer;
		}
		.tt-suggestion:hover {
			background-color: $theme-color;
		}
	}
	.tt-cursor {
		background-color: orange;
	}


}